#wpadminbar #wp-admin-bar-wpde .ab-icon:before {
    content: '\f108';
    width: 18px !important;
    height: 18px !important;
    display: block !important;
    margin: auto !important;
    top: 2px !important;
}

html {
    margin-top: 0 !important;
}

body.wp-admin #wpadminbar {
    opacity: 1;
}

#wpadminbar {
    opacity: 0;
    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 1;
    }
}
