.cc--lightmode {
    --cc-btn-border-radius: 0.35em !important;
    --cc-btn-gap: 8px !important;
    --cc-btn-primary-bg: var(--bs-primary) !important;
    --cc-btn-primary-hover-bg: rgba(var(--bs-primary-rgb), .9) !important;
}

.cc--darkmode {
    --cc-btn-border-radius: 0.35em !important;
    --cc-btn-gap: 8px !important;
    --cc-btn-primary-bg: var(--bs-primary) !important;
    --cc-btn-primary-hover-bg: rgba(var(--bs-primary-rgb), .8) !important;
    --cc-btn-primary-color: var(--bs-light) !important;
    --cc-btn-primary-hover-color: var(--bs-light) !important;
}

// Modal header title
.pm__title {
    display: unset !important;

    small {
        display: block;
        margin-top: 0.5em;
        font-weight: 300;
    }
}

// Modal show overlay
#cc-main .pm-overlay {
    backdrop-filter: blur(3px) !important;
}

#cc-main .pm__section-desc p {
    display: block;
}
